.bbp-monitoring_alert-box {
  max-width: 800px;
  background: rgb(248, 215, 218);
  border: solid 1px rgb(241, 174, 181);
  color: rgb(88, 21, 28);
  padding: 1rem;
  margin-top: 3rem;

  pre {
    background: rgb(226, 227, 229);
    padding: 1rem;
    border: solid 1px rgb(196, 200, 203);
    color: rgb(43, 47, 50);
  }
}

.bbp-monitoring_text-bold {
  font-weight: 700;
}

.bbp-monitoring_status-dot {
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  border: solid 1px #ddd;
  display: inline-block;

  &.status-error {
    background-color: rgb(220, 53, 69);
  }

  &.status-ok {
    background-color: rgb(25, 135, 84);
  }

  &.status-warn {
    background-color: rgb(255, 193, 7);
  }
}

.bbp-monitoring_status-warning {
  display: inline-block;
  font-size: 25px;
  font-weight: 700;
  color: rgb(255, 193, 7);
  padding-left: 0.5rem;
}


.bbp-monitor-section {
  details {
    background: aliceblue;

    summary {
      background: darken(aliceblue, 5%);
      padding: 1rem;

      h2 {
        display: inline-block;
        margin: 0;
      }
    }

    > div {
      padding: 1rem;
    }
  }
}

.bbp-monitoring_client_warnings {
  background: #eee;
  padding: 1rem;
}

.bbp-monitor-results {
  width: 95%;
  max-width: 700px;
  margin-top: 1rem;

  td {
    padding: 0.5rem 1rem 0.5rem 0;
  }

  thead {
    border-bottom: solid 1px darken(aliceblue, 5%);
  }
}
